<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p v-for="(aluno, i) in aluno">
            {{i+1}} Aluno {{aluno.nome}} tem nota {{aluno.nota}}
            <span v-if="aluno.nota >= 8.5">Quadro de Honra</span>
            <span v-else-if="aluno.nota>= 7 ">Aprovado</span>
            <span v-else-if="aluno.nota>= 3 ">recuperção</span>
            <span v-else>Reprovado</span>
        </p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                aluno: [
                    {nome: 'João',nota: 8.5},
                    {nome: 'caio',nota: 7},
                    {nome: 'felipe',nota: 7.5},
                    {nome: 'pedro',nota: 5},
                    {nome: 'carlos',nota: 2},
                ]
                
            }
        })
    </script>
</body>
</html>